body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg {
  background-color: red;
}

.parent {
  background-color: green;
  padding: 40px;
  min-height: 100px;
}

.child {
  background-color: red;
  padding: 10px;
  min-height: 100px;
}

.male {
  background-color: blue !important;
}
.female {
  background-color: pink !important;
}
.abc {
  background-color: red !important;
}


.my-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: red;
  height: 100vh;
  z-index: 10;
}
.comp {
  border: 3px dashed blue;
  padding: 20px
}
